<div class="contaier-card">
  <h1 id="h1Card">Women's Perfumes</h1>

  <div class="card" style="width: 18rem" *ngFor="let perfume of perfumes">
    <img src="{{ perfume.imgSrc }}" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">{{ perfume.title }}</h5>
      <p class="card-text">price: {{ perfume.price | currency }}</p>
      <app-modal-add-to-chart
        [product]="perfume"
        [perfumes]="perfumes"
      ></app-modal-add-to-chart>
    </div>
  </div>
</div>
