<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css
"
/>
<div class="contaier-card">
  <h1 id="h1Card">On sale</h1>

  <div class="card" style="width: 18rem" *ngFor="let perfume of perfumesOnSale">
    <img src="{{ perfume.imgSrc }}" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">{{ perfume.title }}</h5>
      <p class="card-text">price: {{ perfume.price | currency }}</p>
      <app-modal-add-to-chart
        [product]="perfume"
        [perfumes]="perfumesOnSale"
      ></app-modal-add-to-chart>
    </div>
  </div>
</div>
