.border-top {
  border-top: 5px solid #556266be !important;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}
#ok {
  color: green;
  font-size: 2em;
}
.error {
  color: red;
  font-weight: bolder;
}
