<body>
  <!-- Main Content -->
  <div class="container-fluid">
    <div class="row main-content bg-dark text-center">
      <div class="col-md-4 text-center company__info">
        <span class="company__logo"
          ><h2>
            <span class="fa fa-icon"
              ><img src="assets/Images/diamondd.png" alt=""
            /></span></h2
        ></span>
      </div>
      <div class="col-md-8 col-xs-12 col-sm-12 login_form">
        <div class="container-fluid">
          <div class="row">
            <h2 class="text-dark">Log In</h2>
          </div>
          <div class="row">
            <form control="" class="form-group">
              <div class="row">
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="form__input"
                  placeholder="Username"
                  #userName
                />
              </div>
              <div class="row">
                <!-- <span class="fa fa-lock"></span> -->
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form__input"
                  placeholder="Password"
                  #password
                />
              </div>
              <div class="row">
                <input
                  type="checkbox"
                  name="remember_me"
                  id="remember_me"
                  class=""
                  checked
                />
                <label for="remember_me">Remember Me!</label>
              </div>
              <div class="row">
                <input
                  type="submit"
                  value="Submit"
                  class="btn-dark"
                  (click)="Login(userName.value, password.value)"
                />
              </div>
            </form>
          </div>
          <div class="row">
            <p>
              Don't have an account?
              <a routerLink="/registration">Register Here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
